html {
   /*overflow-y: scroll;*/
}

body {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.7rem;
    margin-bottom: 0px;
}

h1 a.name:link,
h1 a.name:active,
h1 a.name:visited,
h1 a.name:hover {
    color: #000 !important;
    text-decoration: none !important;
}

.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}

.header {
    padding: 35px 0px 12px;
}

.middle {
   padding: 20px 80px 24px;
}

.contact {
   font-family: 'Roboto Condensed', sans-serif !important;
   font-weight: 400;
   padding: 20px 40px 10px;
   font-size: 14px;
}

#contact_p:hover {
    cursor: pointer;
}

.img-fluid {
    width: 350px;
    height: auto;
}

.navbar-nav {
    display:inline-block;
    float:none;
    background-color: #fff;
    padding: 5px 0px;
}

.copyright-text {
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 20px 0px;
    margin-bottom: 0px;
}
