html {
   overflow-y: scroll;
}

body {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.header {
    padding: 40px 0 10px;
}

.middle {
   padding: 20px 80px;
}

.contact {
   font-family: 'Roboto Condensed', sans-serif !important;
   font-weight: 400;
   padding: 28px 40px 10px;
   font-size: 14px;
}

#contact_p:hover {
    cursor: default;
}

.img-fluid {
    width: 380px;
    height: auto;
}

.navbar-nav {
    display:inline-block;
    float:none;
    background-color: #fff;
    padding: 5px 0px;
}

.copyright-text {
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 20px 0px;
    margin-bottom: 0px;
}
