body {
    font-family: 'Roboto Condensed', sans-serif !important;
    letter-spacing: 2px;
}

h1 {
    font-size: 36px;
}

.header {
    padding: 60px 0 0px;
}

.middle {
   padding: 10px 40px;
}

.contact {
   font-family: 'Roboto Condensed', sans-serif !important;
   font-weight: 400;
   padding: 20px 0px 0px;
   font-size: 11px;
   letter-spacing: 1px;
}

.img-fluid {
    width: 485px;
    height: auto;
}

.copyright {
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
    padding: 70px 0px 16px;
    letter-spacing: 0.5px;
    font-size: 9px;
}
